.simple-accordion .statusButton {
  display: inline-block;
  width: 30px;
  height: 30px;
  float: right;
  background: url('http://www.tbcbank.ge/tbcpw.portal-public-theme/images/tbc/plus.png') no-repeat;
}

.simple-accordion .plus {
  background: url('http://www.tbcbank.ge/tbcpw.portal-public-theme/images/tbc/plus.png') no-repeat;
}

.simple-accordion .minus {
  background: url('http://www.tbcbank.ge/tbcpw.portal-public-theme/images/tbc/minus.png') no-repeat;
}
